version: 2.1

jobs: 
  build:
    macos:
      xcode: 15.4.0
    resource_class: macos.m1.medium.gen1
    steps:
      - checkout
      - run:
          name: Build Frameworks
          command: scripts/buildPrebidMobile.sh

  unit-test:
    macos:
      xcode: 15.4.0
    resource_class: macos.m1.medium.gen1
    steps:
      - checkout
      - run:
          name: Run Unit Tests for Frameworks
          command: scripts/testPrebidMobile.sh -l
          
  run-swift-demo-integration-tests:
    macos:
      xcode: 15.4.0
    resource_class: macos.m1.medium.gen1
    steps:
      - checkout
      - run:
          name: Run Integration Tests
          command: scripts/testPrebidDemo.sh -l
          
  run-swift-demo-ui-tests:
    macos:
      xcode: 15.4.0
    resource_class: macos.m1.medium.gen1
    steps:
      - checkout
      - run:
          name: Run Smoke UI Tests
          command: scripts/testPrebidDemo.sh -ui -l

workflows:
  pr-check:
    jobs: 
      - build:
         name: Build PrebidMobile Frameworks
      - unit-test:
         name: Run Unit Tests for PrebidMobile Frameworks
      - run-swift-demo-integration-tests:
         name: Run Intgration Tests - Swift Demo App
      - run-swift-demo-ui-tests:
         name: Run Smoke UI Tests - Swift Demo App
