<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   TransactionsCacheFileForTests.plist
   OpenXSDKCore

   Created by Yuriy Velichko on 9/3/18.
   Copyright (c) 2018 OpenX. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
